.container {
  width: min(1350px, 90%);
  margin: 0 auto;
}
.section {
  height: 100vh;
  display: flex;
}
.section-content {
  align-self: flex-end;
  width: min(1350px, 90%);
  margin-inline: auto;
  margin-bottom: 8rem;
}
.section-content h4,
h2 {
  color: var(--clr-light);
  max-width: min(500px, 100%);
  text-shadow: 1px 1px var(--clr-medium);
}
.section-content h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.section-content h4 {
  font-size: 1.25rem;
  font-weight: normal;
}

.btn {
  display: inline-block;
  font-size: 0.875rem;
}
.btn-primary {
  position: relative;
  z-index: 2;
  padding: 1rem 2.5rem;
  background-color: transparent;
  color: var(--clr-light);
  border: 1px solid var(--clr-light);
}
.btn-primary::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  background-color: var(--clr-light);
  transition: transform var(--animation-duration);
  transform-origin: top;
}
.btn-primary:hover {
  color: black;
}
.btn-primary:hover::after {
  transform-origin: bottom;
  z-index: -1;
  transform: scaleY(1);
}
